params {
    test_data = [
        'sarscov2': [
            'genome': [
                'fasta': 'test_data/sarscov2/genome/fasta'
            ]
        ]
    ]
    outdir = 'test_results'
}

process {
    withLabel: 'process_medium' {
        memory = '32 GB'
        cpus = 8
    }

    withName: 'CRYFOLD_ADVANCED' {
        ext.model_type = 'monomer'
        ext.temperature = '0.8'
        ext.num_recycles = '3'
        ext.num_models = '5'
        ext.use_amber = true
        ext.use_templates = true
        ext.verbose = true
    }

    withName: 'CRYFOLD_CUSTOM' {
        ext.output_dir = "${params.outdir}/custom_output"
    }
} 